* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 96dvh;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('assets/5614499.jpg');
  background-size: cover;
  background-position: center;* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 96dvh;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('assets/5614499.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.dnone{
    display: none;
}

.dblock{
    display: block;
}

#startButton {
  padding: 6px 24px;
  font-size: 1.2rem;
  background-color: #417d4f;
  color: #f9fcfa;
  text-decoration: none;
  border-radius: 18px;
  transition: 0.3s ease;
  margin-top: 36px;
  z-index: 0;
  position: relative;
  cursor: pointer;
}

#startButton:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #417d4f;
  left: 0;
  top: 0;
  border-radius: 18px;
}

#startButton:before {
  content: "";
  background: linear-gradient(45deg, #18f060,#0a692a,#2e613f,#6cd991,#0dba75,#085737);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(8px);
  border-radius: 18px;
  transition: opacity 0.3s ease;
  opacity: 1;
  animation: glow 20s linear infinite;
}

@keyframes glow {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

#welcomeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: clamp(330px, 80vw, 550px);
  height: clamp(230px, 28vh, 300px);

  padding: 1rem 1.2rem 1rem 1.2rem;
  background-color: #e3e6e4;
  border-radius: 24px;

  box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.75);
  -webkit-box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.75);

  text-align: center;
  transition: 3s ease;
}

#welcomeContainer h1 {
  font-size: clamp(1.4rem, 4vw, 2.5rem);
}

#welcomeContainer p {
  font-size: clamp(0.8rem, 1.6vw, 1.1rem);
}
 
#leagueChoiceContainer {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  position: absolute;
  width: clamp(330px, 80vw, 550px);
  min-height: clamp(250px, 40vh, 400px);
  z-index: 2;
  padding: 1rem 2rem;
  background-color: #e3e6e4;
  border-radius: 24px;

  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.75);
  scale: 0.7;
  text-align: center;
  overflow-y: auto;
}


.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 12px; 
  justify-content: center;
  padding: 16px;
  max-width: 100%;
  box-sizing: border-box;
}

.card {
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  transition: transform 0.2s, border 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid transparent;
  background-clip: padding-box;
  position: relative;
}

.card::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: inherit;
  z-index: -1;
  background: linear-gradient(45deg, #417d4f, #367d55 );
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card:hover::before {
  opacity: 1;
}

.card:hover {
  transform: scale(1.05);
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: contain; 
  border-radius: 8px;
}

.card:hover {
  transform: scale(1.05);
}

@media(max-width: 355px){
    #choiceContainer{
        width: 310px;
    }
    #modeChoiceContainer{
        width: 310px;
    }
}

#modeChoiceContainer {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: clamp(312px, 60vw, 450px);
  height: clamp(300px, 46dvh, 550px);

  padding: 1rem 2rem 1rem 1 rem;
  background-color: #e3e6e4;
  border-radius: 24px;

  box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.75);
  -webkit-box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.75);

  text-align: center;
  transition: 3s ease;
}

#modeChoiceContainer h1 {
  font-size: clamp(1.4rem, 4vw, 2.5rem);
}

#modeChoiceContainer p {
  font-size: clamp(0.9rem, 1.5vw, 1.1rem);
}

#modeContainer{
  display: grid;
  grid-template-columns: repeat(2, auto); /* now 4 per row */
  grid-template-rows: repeat(4, auto);    /* 2 rows */
  gap: 8px 12px; /* smaller gap */
  justify-content: center;
  align-items: center;
    
}

.mode{
  padding: 6px 24px;
  font-size: 1.1rem;
  background-color: #417d4f;
  color: #f9fcfa;
  text-decoration: none;
  border-radius: 18px;
  transition: 0.3s ease;
  margin-top: 8px;
  z-index: 0;
  position: relative;
  cursor: pointer;
  transition: 0.2 ease;
}

.mode:hover{
  scale: 1.05;
}

@media (max-width: 425px) {
  .mode{
    padding: 6px 16px;
    font-size: 1rem;
  }
}

@media (max-width: 720px) {
  .mode{
    padding: 8px 14px;
    font-size: 0.9rem;
  }
}

@media (max-width: 570px) {
  .mode{
    padding: 6px 12px;
    font-size: 0.8rem;
  }
  .comingSoon::after {
    font-size: 0.7rem;
    padding: 0px 2px;
  }
}

#matchSimulatorContainer {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  width: clamp(312px, 55vw, 450px);
  height: clamp(300px, 40dvh, 550px);

  padding: 1rem 2rem 1rem 1 rem;
  background-color: #e3e6e4;
  border-radius: 24px;

  box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.75);
  -webkit-box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.75);

  text-align: center;
}

.comingSoon {
  position: relative;
}

.comingSoon::after {
  content: "soon";
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #ff0000;
  color: #ffffff;
  padding: 0px 4px;
  border-radius: 12px;
  font-size: 0.7rem;
  cursor: default;
  z-index: 2;
}

#matchSimulatorStart{
  padding: 6px 24px;
  font-size: 1.1rem;
  background-color: #417d4f;
  color: #f9fcfa;
  text-decoration: none;
  border-radius: 18px;
  transition: 0.3s ease;
  margin-top: 12px;
  z-index: 0;
  position: relative;
  cursor: pointer;
}

#matchSimulatorBack:hover{
  text-decoration: underline;

}

@keyframes shadow{
  0%{
    opacity: 1;

  }

  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}

@media (max-width: 480px) {
  p{
    font-size: 0.9rem;
  }
}

#ChoiceContainer {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  position: absolute;
  width: clamp(330px, 80vw, 550px);
  min-height: clamp(250px, 40vh, 400px);
  z-index: 2;
  padding: 1rem 2rem;
  background-color: #e3e6e4;
  border-radius: 24px;

  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.75);
  scale: 0.7;
  text-align: center;
  overflow-y: auto;
}

#matchSimulatorTeam1, #matchSimulatorTeam2 {
  z-index: 5;;
}

@keyframes shake {
  0% { transform: translate(0, 0); }
  25% { transform: translate(-5px, 0); }
  50% { transform: translate(5px, 0); }
  75% { transform: translate(-5px, 0); }
  100% { transform: translate(0, 0); }
}


#resultContainer {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  position: absolute;
  width: clamp(330px, 80vw, 550px);
  min-height: clamp(250px, 40vh, 400px);
  z-index: 2;
  padding: 0.7rem 1.1rem;
  background-color: #e3e6e4;
  border-radius: 24px;

  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.75);
  text-align: center;
  overflow-y: auto;
}

@media (max-width: 500px) {
  #resultContainer h1{
    font-size: 1.4rem;
  }
}

#matchSimulatorPlayAgain{
  padding: 6px 24px;
  font-size: 1.1rem;
  background-color: #417d4f;
  color: #f9fcfa;
  text-decoration: none;
  border-radius: 18px;
  transition: 0.3s ease;
  margin-top: 36px;
  z-index: 0;
  position: relative;
  cursor: pointer;
}

#matchSimulatorMainMenu:hover {
  text-decoration: underline;
}

#probability{
  height: 12px;
  border-radius: 10px;
  width: 60%;
  position: relative;
  transform: translateX(10px);
}

#win1{
  background-color: rgb(184, 21, 21);
  height: 12px;
  border-radius: 10px;
  margin-top: 10px;
  position: relative;
 
}


#draw{
  background-color: rgb(215, 183, 22);
  height: inherit;
  border-radius: inherit;
  margin-top: 2px;
  position: relative;
  
}

#win2{
  background-color: rgb(27, 54, 210);
  height: inherit;
  border-radius: inherit;
  margin-top: 2px;
 
}

#startLineContainer{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  position: absolute;
  width: clamp(350px, 80vw, 550px);
  height: clamp(300px, 60vh, 700px);
  z-index: 2;
  padding: 1rem 2rem;
  background-color: #e3e6e4;
  border-radius: 24px;

  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.75);
  scale: 0.7;
  text-align: center;
  overflow-y: auto;
}

#startLineContainer h1 {
  font-size: clamp(1.4rem, 4vw, 2.5rem);
}

#startLineContainer p {
  font-size: clamp(0.8rem, 1.6vw, 1.1rem);
}

.pitch{
  margin-top: 30px;
  width: 100%;
  height: 100%;
  transform: rotate(90deg);
}











  background-attachment: fixed;
  background-repeat: no-repeat;
}

.dnone{
    display: none;
}

.dblock{
    display: block;
}

#startButton {
  padding: 6px 24px;
  font-size: 1.2rem;
  background-color: #417d4f;
  color: #f9fcfa;
  text-decoration: none;
  border-radius: 18px;
  transition: 0.3s ease;
  margin-top: 36px;
  z-index: 0;
  position: relative;
  cursor: pointer;
}

#startButton:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #417d4f;
  left: 0;
  top: 0;
  border-radius: 18px;
}

#startButton:before {
  content: "";
  background: linear-gradient(45deg, #18f060,#0a692a,#2e613f,#6cd991,#0dba75,#085737);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(8px);
  border-radius: 18px;
  transition: opacity 0.3s ease;
  opacity: 1;
  animation: glow 20s linear infinite;
}

@keyframes glow {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

#welcomeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: clamp(330px, 80vw, 550px);
  height: clamp(230px, 28vh, 300px);

  padding: 1rem 2rem 1rem 1 rem;
  background-color: #e3e6e4;
  border-radius: 24px;

  box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.75);
  -webkit-box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.75);

  text-align: center;
  transition: 3s ease;
}

#welcomeContainer h1 {
  font-size: clamp(1.4rem, 4vw, 2.5rem);
}

#welcomeContainer p {
  font-size: clamp(0.9rem, 1.5vw, 1.1rem);
}
 
#leagueChoiceContainer {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 

  width: clamp(330px, 80vw, 550px);
  min-height: clamp(250px, 40vh, 400px);

  padding: 1rem 2rem;
  background-color: #e3e6e4;
  border-radius: 24px;

  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.75);

  text-align: center;
  overflow-y: auto;
}


.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 12px; 
  justify-content: center;
  padding: 16px;
  max-width: 100%;
  box-sizing: border-box;
}

.card {
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  transition: transform 0.2s, border 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid transparent;
  background-clip: padding-box;
  position: relative;
}

.card::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: inherit;
  z-index: -1;
  background: linear-gradient(45deg, #417d4f, #367d55 );
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card:hover::before {
  opacity: 1;
}

.card:hover {
  transform: scale(1.05);
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: contain; 
  border-radius: 8px;
}

.card:hover {
  transform: scale(1.05);
}

@media(max-width: 355px){
    #choiceContainer{
        width: 310px;
    }
    #modeChoiceContainer{
        width: 310px;
    }
}

#modeChoiceContainer {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: clamp(312px, 60vw, 450px);
  height: clamp(300px, 46dvh, 550px);

  padding: 1rem 2rem 1rem 1 rem;
  background-color: #e3e6e4;
  border-radius: 24px;

  box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.75);
  -webkit-box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.75);

  text-align: center;
  transition: 3s ease;
}

#modeChoiceContainer h1 {
  font-size: clamp(1.4rem, 4vw, 2.5rem);
}

#modeChoiceContainer p {
  font-size: clamp(0.9rem, 1.5vw, 1.1rem);
}

#modeContainer{
  display: grid;
  grid-template-columns: repeat(2, auto); /* now 4 per row */
  grid-template-rows: repeat(4, auto);    /* 2 rows */
  gap: 8px 12px; /* smaller gap */
  justify-content: center;
  align-items: center;
    
}

.mode{
  padding: 6px 24px;
  font-size: 1.1rem;
  background-color: #417d4f;
  color: #f9fcfa;
  text-decoration: none;
  border-radius: 18px;
  transition: 0.3s ease;
  margin-top: 8px;
  z-index: 0;
  position: relative;
  cursor: pointer;
  transition: 0.2 ease;
}

.mode:hover{
  scale: 1.05;
}

@media (max-width: 425px) {
  .mode{
    padding: 6px 16px;
    font-size: 1rem;
  }
}

@media (max-width: 720px) {
  .mode{
    padding: 8px 14px;
    font-size: 0.9rem;
  }
}

@media (max-width: 570px) {
  .mode{
    padding: 6px 12px;
    font-size: 0.8rem;
  }
  .comingSoon::after {
    font-size: 0.7rem;
    padding: 0px 2px;
  }
}

#matchSimulatorContainer {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: clamp(312px, 55vw, 450px);
  height: clamp(300px, 40dvh, 550px);

  padding: 1rem 2rem 1rem 1 rem;
  background-color: #e3e6e4;
  border-radius: 24px;

  box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.75);
  -webkit-box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.75);

  text-align: center;
}

.comingSoon {
  position: relative;
}

.comingSoon::after {
  content: "soon";
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #ff0000;
  color: #ffffff;
  padding: 0px 4px;
  border-radius: 12px;
  font-size: 0.7rem;
  cursor: default;
  z-index: 2;
}

#matchSimulatorStart{
  padding: 6px 24px;
  font-size: 1.1rem;
  background-color: #417d4f;
  color: #f9fcfa;
  text-decoration: none;
  border-radius: 18px;
  transition: 0.3s ease;
  margin-top: 12px;
  z-index: 0;
  position: relative;
  cursor: pointer;
}

#matchSimulatorBack:hover{
  text-decoration: underline;

}

@keyframes shadow{
  0%{
    opacity: 1;

  }

  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}

#matchSimulatorContainer .card:after{
  content: 'T A P';
  transform: rotate(-45deg);
  opacity: 0.5;
  z-index: 1;
}



















